<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pea2.Properties.Settings.ProductosConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Productos;User ID=zeref;Password=997211232"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>